 @import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Cormorant+Garamond:wght@500&family=Hahmlet:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Gowun+Batang&display=swap');

 body{
   background: center fixed url(../imagenes/fondo/fondo-parallax-grande.jpg);
   background-size: cover;
}
 /*Redes Sociales*/
 #btn-mas{
   display: none;
   z-index: 99;
}
 .container-redes{
   position: fixed;
   bottom: 30px;
   right: 30px;
   z-index: 99;
}
 .redes a, .btn-mas label, .btn-mas a{ 
   display: block;
   text-decoration: none;
   background: rgb(90, 28, 28);
   color: #ffffff;;
   width: 55px;
   height: 55px;
   line-height: 55px;
   text-align: center;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 50%;
   box-shadow: 0px 7px 10px rgba(255, 255, 255, 0.4);
   transition: all 500ms ease;
   margin: 20px 0;
   z-index: 99;
}
 .redes a:hover{
   background: rgb(90, 28, 28);
   color: #ffffff;
   transition: all 500ms ease;
   transform: rotate(360deg);
   z-index: 99;
}
 .redes a{
   margin-bottom: -15px;
   opacity: 0;
   visibility: hidden;
   z-index: 99;
}
 #btn-mas:checked~ .redes a{
   margin-bottom: 10px;
   opacity: 1;
   visibility: visible;
   z-index: 99;
}
 .btn-mas label, .btn-mas a{
   cursor: pointer;
   background: rgb(90, 28, 28);
   font-size: 25px;
   z-index: 99;
}
 .btn-mas a:hover{
   color: #fff;
}
 #btn-mas:checked ~ .btn-mas label{
   transform: rotate(180deg);
   font-size: 28px;
   color: #fff;
   background: rgb(90, 28, 28);
   z-index: 99;
}
 .swal-overlay {
   background-color: rgba(165, 43, 43, 0.548);
}
 .container-fluid img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border: 2px solid rgb(58, 1, 1);
}
 .navbar-text{
   font-family: 'Cormorant Garamond', serif;
   font-size: 25px;
}
 .nav-item{
   font-family: 'Amiri', serif;
   font-size: 20px;
   text-align: center;
}
 #titulo-pagina{
   text-align: right;
}
 .navbar-text span{
   text-align: right;
}
 .container{
   background-color: rgba(0, 0, 0, 0.459);
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1400px;
   padding: 2em;
   flex-wrap: wrap;
   z-index: 1;
}
 .container .card{
   position: relative;
   width: 320px;
   height: 500px;
   margin: 50px;
   box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.5);
   border-radius: 15px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-left: 1px solid rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(5px);
}
 #opcion-1{
   background-image: url(../imagenes/pelo/opcion-1.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-2{
   background-image: url(../imagenes/pelo/opcion-2.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-3{
   background-image: url(../imagenes/pelo/opcion-3.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-4{
   background-image: url(../imagenes/pelo/opcion-4.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-5{
   background-image: url(../imagenes/pelo/opcion-5.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-6{
   background-image: url(../imagenes/pelo/opcion-6.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-7{
   background-image: url(../imagenes/pelo/opcion-7.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-8{
   background-image: url(../imagenes/pelo/opcion-8.png);
   background-position: center;
   background-size: cover;
}
 #opcion-9{
   background-image: url(../imagenes/pelo/opcion-9.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-10{
   background-image: url(../imagenes/pelo/opcion-10.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-11{
   background-image: url(../imagenes/pelo/opcion-11.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-12{
   background-image: url(../imagenes/pelo/opcion-12.jpg);
   background-position: center;
   background-size: cover;
}
 .container .card .content{
   padding: 20px;
   text-align: center;
   transform: translateY(100px);
   opacity: 0;
   transition: 0.5s; 
}
 .container .card:hover .content{
   transform: translateY(-10px);
   opacity: 1;
}
 .container .card .content a{
   position: relative;
   display: inline-block;
   padding: 8px 20px;
   margin: 15px;
   color: #fff;
   border: 1px solid #fff ;
   background-color: #000;
   text-decoration: none;
   font-family: 'Cormorant Garamond', serif;
   box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
}
 .container .card .content a:hover{
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   border: 1px solid rgb(0, 0, 0);
   transition: .5s;
}
 .container .card .content p{
   font-size: 20px;
   font-family: 'Amiri', serif;
   color: rgb(255, 255, 255);
}
 footer{
   padding: 1em;
   bottom: 0px;
   width: 100%;
   background: #111;
   color: #fff;
   font-family: 'Vollkorn', serif;
}
 input{
   color: #fff;
}
 textarea{
   color: #fff;
}
 .main-content{
   display: flex;
}
 .main-content .box{
   flex-basis: 50%;
   padding: 10px 20px;
}
 .box h2{
   font-size: 1.125rem;
   font-weight: 400;
   text-transform: uppercase;
}
 .box .content{
   margin: 20px 0 0 0;
   position: relative;
}
 .box .content:before{
   position: absolute;
   content: '';
   top: -10px;
   height: 2px;
   width: 100%;
   background: #424242;
}
 .box .content:after{
   position: absolute;
   content: '';
   height: 2px;
   width: 15%;
   background: #f12020;
   top: -10px;
}
 .left .content p{
   text-align: justify;
}
 .left .content .social{
   margin: 20px 0 0 0;
}
 .left .content .social a{
   padding: 0 2px;
}
 .left .content .social a span{
   height: 40px;
   width: 40px;
   background: #1a1a1a;
   color: #fff;
   line-height: 40px;
   text-align: center;
   font-size: 18px;
   border-radius: 5px;
   transition: 0.3s;
}
 .left .content .social a span:hover{
   background: #f12020;
}
 .center .content .fas{
   font-size: 18px;
   background: #1a1a1a;
   height: 40px;
   width: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 50%;
   transition: 0.3s;
   cursor: pointer;
}
 .center .content .fas:hover{
   background: #f12020;
}
 .center .content .text{
   font-size: 1.0625rem;
   font-weight: 400;
   padding-left: 10px;
}
 .center .content .phone{
   margin: 15px 0;
}
 .right .content a{
   color: #fff;
   text-decoration: none;
   margin: 7px;
 }
 .right .content a:hover{
   border-bottom: 2px solid #f12020;
   transition: .1s;
 }
 .bottom center{
   padding: 5px;
   font-size: 0.9375rem;
   background: #151515;
}
 .bottom center span{
   color: #ffffff;
}
 .bottom center a{
   color: #f12020;
   text-decoration: none;
}
 .bottom center a:hover{
   text-decoration: underline;
}
 @media screen and (max-width: 900px) {
   footer{
     position: relative;
     bottom: 0px;
  }
   .main-content{
     flex-wrap: wrap;
     flex-direction: column;
  }
   .main-content .box{
     margin: 5px 0;
  }
}
 @media (max-width: 1100px){
   .imagen-barberia img{
     width: 25em;
     height: 20em;
  }
   .imagen-barberia{
     display: inline-block;
  }
   .contenido-barberia{
     width: 60%;
     margin: 0 2em;
     font-size: 16px;
  }  
}
 @media (max-width: 800px){
   .barberia{
     display: block;
     width: 100%;
     padding: 2em;
  }
   .barberia-contenedor{
      padding: 1em;
  }
   .imagen-barberia img{
     width: 20em;
     height: 15em;
  }
   .imagen-barberia{
     display: inline-block;
  }
   .contenido-barberia{
     width: 70%;
     display: inline-block;
     margin: 1em;
  }
   .nuestro-servicio{
     background: rgb(255, 255, 255);
     color: #000;
     display: flex;
     justify-content: center;
  }
   .nuestro-servicio-contenedor{
     display: flex;
     justify-content: center;
     max-width: 1400px;
     padding: 2em;
  }
   .que-ofrecemos{
     display: inline-block;
     width: 300px;
     margin: 2em;
     font-family: 'Cormorant Garamond', serif;
     font-size: 19px;
     text-align: center;
  }
   .que-ofrecemos .bebida-cortesia{
     color: rgb(56, 2, 2);
     font-family: 'Tinos', serif;
     font-weight: 300;
     font-size: 16px;
  }
   .que-ofrecemos h2{
     text-align: center;
     margin-bottom: 1em;
     font-family: 'Tinos', serif;
  }
   .que-ofrecemos h2::after{
     display: block;
     width: 35%;
     height: 2px;
     content: "";
     margin: auto;
     background-color: rgb(58, 1, 1);
  }
   .que-ofrecemos a{
     background: none;
     border: 1px rgb(58, 1, 1) solid;
     font-family: 'Cormorant Garamond', serif;
     text-decoration: none;
     color: #000;
     display: flex;
     justify-content: center;
     padding: 8px 20px;
  }
   .que-ofrecemos a:hover{
     color: rgb(255, 255, 255);
     background: rgb(0, 0, 0);
     border: 1px rgb(58, 1, 1) solid;
     transition: .5s;
  }
   .distintos-servicios{
     width: 70%;
     display: inline-block;
     margin: 4em;
  }
   .distintos-servicios img{
     display: inline-block;
     padding: 7px;
     width: 50px;
     height: 50px;
     border: 1px solid rgb(39, 3, 3);
     border-radius: 50%;
  }
   .servicio{
     display: flex;
     margin-bottom: 3em;
  }
   .servicio-header{
     display: inline-block;
  }
   .servicio-body{
     display: inline-block;
  }
   .equipo{
     width: 60%;
     display: inline-block;
     margin: 2em;
  }  
}
 @media (max-width:480px){
   .barberia{
     display: flex;
     justify-content: center;
     margin: 0;
  }
   .barberia-contenedor{
     display: flexbox;
     flex-wrap: wrap;   
  }
   .contenido-barberia a{
     display: inline-block;
     margin: 10px;
  }
   .nuestro-servicio{
     display: flex;
     justify-content: center;
  }
   .nuestro-servicio-contenedor{
     display: flexbox;
     flex-wrap: wrap;
     padding: 20px;
  }
   .nuestro-equipo{
     display: flex;
     justify-content: center;
     margin: 0;
  }
   .nuestro-equipo-contenedor{
     display: flexbox;
     flex-wrap: wrap;
     padding: 0px;
  }
   .integrantes-equipo{
     display: flex;
     justify-content: center;
  }
   .integrantes-equipo img{
     width: 20em;
     height: 20em;
  } 
}

 /*INFORMACION*/
 .contenedor-principal-informacion{
   display: flex;
   justify-content: center;
   align-items: center;
   background: #111;
   padding: 1em;
}
 .contenedor-cards{
   position: relative;
   width: 1100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 30px;
}
 .contenedor-cards .cards{
   position: relative;
   max-width: 300px;
   height: 350px;
   margin: 30px 10px;
   padding: 20px 15px;
   display: flex;
   flex-direction: column;
   background-image: url(../imagenes/fondo/fondo-cards-contacto.jpg);
   background-size: cover;
   background-position: center;
   border-radius: 10px;
   box-shadow: 0 05px 50px rgba(0, 0, 0, 0.5);
   transition: 0.5s ease-in-out;
}
 .contenedor-cards .cards:hover{
   height: 450px;
}
 .contenedor-cards .cards .imagen{
   position: relative;
   width: 220px;
   height: 220px;
   top: -60px;
   left: 20px;
   z-index: 1;
   box-shadow: 0 5px 20px rgb(204, 193, 193);
   border-radius: 10px;
}
 .contenedor-cards .cards .imagen img{
   width: 220px;
   height: 220px;
   border-radius: 10px;
}
 .contenedor-cards .cards .content-cards{
   position: relative;
   margin-top: -140px;
   padding: 10px 15px;
   text-align: center;
   color: rgb(255, 255, 255);
   visibility: hidden;
   opacity: 0;
   transition: 0.3s ease-in-out;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
 .contenedor-cards .cards:hover .content-cards{
   visibility: visible;
   opacity: 1;
   margin-top: -40px;
   transition-delay: 0.3s;
}
 .contenedor-cards .content-cards span a{
   display: inline-block;
   border-radius: 50%;
   font-size: 20px;
   padding: 5px;
   text-decoration: none;
   color: #fff;
}
 .contenedor-cards .content-cards span a:hover{
   color: #741b1b;
   transition: .5s;
   text-decoration: none;
}
 #card-logo{
   background-color: #fff;
}
 .banner{
   width: 100%;
   height: 1000px;
   display: flex;
   align-items: center;
   text-align: center;
   background: center fixed url(../imagenes/fondo/fondo-parallax.jpg);
}
 #map {
   height: 100%;
} 
 .contacto{
   display: flex;
   justify-content: center;
   width: 100%;
}
 .contacto-contenedor{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   color: rgb(255, 255, 255);
   font-family: 'Vollkorn', serif;
   padding: 2em;
}
 .contacto-contenedor form{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   border: 2px solid #4e0707;
   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.459);
   background-size: cover;
   width: 400px;
   padding: 2em;
   margin: 2em 0;
}
 .contacto-contenedor form label{
   margin: 20px 0;
   font-size: 18px;
}
 .contacto-contenedor input{
   color: #000;
}
 .contacto-contenedor textarea{
   color: #000;
}
 .contacto-contenedor button{
   margin-top: 20px;
   margin-bottom: 10px;
   padding: 8px 20px;
   background-color: rgba(0, 0, 0, 0);
   color: rgb(255, 255, 255);
   border: 3px solid #ffffff;
}
 .contacto-contenedor button:hover{
   background-color: rgba(0, 0, 0, 0.541);
   color: rgb(255, 255, 255);
   border: 3px solid #ffffff;
   transition: 800ms;
   transform: translateY(-4px);
}
 /*PRODUCTOS*/
 .dropdown-menu{
   background-color: rgba(0, 0, 0, 0.753) !important;
   border-radius: 4px;
 }
 .dropdown-menu td, th{
   color: #fff !important;
 }
 .dropdown-menu img{
   background-color: rgba(255, 255, 255, 0.774);
 }
 .container-shop{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   z-index: 1;
}
 .container-shop .card-deck .card{
   font-family: 'Baloo 2', cursive;
   border-top: 2px solid rgb(0, 4, 255);
   border-left: 2px solid rgb(0, 4, 255);
   border-bottom: 2px solid rgb(251, 0, 0);
   border-right: 2px solid rgb(251, 0, 0); 
   font-weight: 400;
   position: relative;
   width: 320px;
   height: 500px;
   margin: 50px;
   border-radius: 15px;
   overflow: hidden;
   display: flex;
   justify-content: center;
}
 .container-shop .card-deck .card:hover{
   transform: scale(1.09,1.09);
   background-color: rgb(255, 255, 255);
   transition: .5s;
}
 .card-header h4{
   font-size: 22px;
   color: rgb(0, 0, 0);
}
 .card-body img{
   background-color: #fff;
   border-top: 2px solid rgb(0, 0, 0);
   border-bottom: 2px solid rgb(0, 0, 0);
   object-fit: cover;
   overflow: hidden;
}
 .card-body h1{
   color: rgb(0, 0, 0);
   font-size: 18px;
   padding: 10px;
   margin: 15px;
   border-bottom: 1px solid rgb(0, 0, 0);
}
 .card-body h1:hover{
   background-color: rgb(255, 255, 255);
   color: #000;
   transition: .5s;
   cursor:default;
}
 .card a{
   padding: 10px;
   border: 1px solid rgb(255, 255, 255);
   color: rgb(255, 255, 255);
}
 .card-body a:hover{
   transition: .5s;
   border: 1px solid rgb(255, 255, 255);
   color: rgb(255, 255, 255);
}
 /*BARBAS*/
 #opcion-1-barba{
   background-image: url(../imagenes/barba/opcion-1.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-2-barba{
   background-image: url(../imagenes/barba/opcion-2.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-3-barba{
   background-image: url(../imagenes/barba/opcion-3.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-4-barba{
   background-image: url(../imagenes/barba/opcion-4.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-5-barba{
   background-image: url(../imagenes/barba/opcion-5.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-6-barba{
   background-image: url(../imagenes/barba/opcion-6.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-7-barba{
   background-image: url(../imagenes/barba/opcion-7.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-8-barba{
   background-image: url(../imagenes/barba/opcion-8.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-9-barba{
   background-image: url(../imagenes/barba/opcion-9.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-10-barba{
   background-image: url(../imagenes/barba/corte-barba-2.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-11-barba{
   background-image: url(../imagenes/barba/corte-barba-3.jpg);
   background-position: center;
   background-size: cover;
}
 #opcion-12-barba{
   background-image: url(../imagenes/barba/corte-barba-4.jpg);
   background-position: center;
   background-size: cover;
}
 /*COMPRA*/
 main .container-compra{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  flex-wrap: wrap;
  z-index: 1;
   color: #fff;
 }
 main .container-compra .col{
   background-color: rgba(0, 0, 0, 0.459);
   padding: 1em;
 }
 main .container-compra .form-group{
   color: #fff;
 }
 main .container-compra .total input{
   color: black;
 } 

 @media (min-width: 2000px){
   .banner{
     width: auto;
     height: 2000px !important;
     display: flex;
     align-items: center;
     text-align: center;
     background: center fixed url(../imagenes/fondo/fondo-parallax-grande.jpg) !important;
     background-size: cover !important;
  }
   /*Redes Sociales*/
   .container-redes{
     bottom: 30px;
     right: 30px;
  }
   .redes a, .btn-mas label, .btn-mas a{ 
     width: 95px;
     height: 95px;
     line-height: 95px;
     font-size: 35px;
     margin: 30px 0;
  }
   .btn-mas label, .btn-mas a{
     font-size: 45px;
  }
   #btn-mas:checked ~ .btn-mas label{
     font-size: 40px;
  }
   .container-fluid img{
     width: 130px;
     height: 130px;
  }
   .navbar-text{
     font-size: 35px !important;
  }
   .nav-item a{
     font-size: 35px;
  }
  footer{
     padding: 3em;
  }
   .main-content .box{
     padding: 20px 20px;
  }
   .box h2{
     font-size: 28px;
  }
   .left .content .social a span{
     height: 60px;
     width: 60px;      
     line-height: 60px;
     font-size: 25px;
  }
   .left p{
     font-size: 26px;
  } 
   .center .content .fas{
     font-size: 25px;
     height: 60px;
     width: 60px;
     line-height: 60px;
  }
   .center .content .text{
     font-size: 24px;
  }
   .right .content a{
     margin: 10px;
     font-size: 25px;
  }
   .bottom center{
     padding: 10px;
     font-size: 22px;
  }
   /*INFORMACION*/
   .medio-contacto-informacion{
     font-size: 28px;
  }
   .contenedor-principal-informacion{
     padding: 6em;
  }
   .contenedor-cards{
     width: 2000px;
     padding: 50px;
  }
   .contenedor-cards .cards{
     max-width: 400px;
     height: 450px;
     margin: 50px 30px;
     padding: 40px 15px;
  }
   .contenedor-cards .cards:hover{
     height: 750px;
  }
   .contenedor-cards .cards .imagen{
     width: 320px;
     height: 320px;
  }
   .contenedor-cards .cards .imagen img{
     width: 320px;
     height: 320px;
  }
   .contenedor-cards .cards p, a{
     font-size: 28px;
   }
   .contenedor-cards .content-cards span a{
     font-size: 33px;
     padding: 10px;
  }
   .contacto-contenedor{
     padding: 4em;
  }
   .contacto-contenedor form{
     width: 800px;
     height: 1000px;
     padding: 3em;
     font-size: 28px;
  }
   .contacto-contenedor form span{
     font-size: 35px;
  }
   .contacto-contenedor form label{
     margin: 30px 0;
     font-size: 27px;
  }
   .contacto-contenedor button{
     margin-top: 30px;
     margin-bottom: 15px;
     padding: 12px 20px;
     font-size: 25px;
  }
   /*PRODUCTOS*/
   #shop{
     width: 100px;
     height: 100px;
     padding: 0;
   }
   .dropdown-menu{
     width: 600px;
   }
   .dropdown-menu td, th{
     font-size: 30px;
     font-weight: 100;
  }
   .dropdown-menu img{
     width: 120px;
     height: 120px;
  }
   #vaciar-carrito{
     font-size: 30px;
     padding: 7px;
  }
   #procesar-pedido{
     font-size: 30px;
     padding: 7px;
  }
   .container-shop .card-deck .card{
     border-top: 4px solid rgb(0, 4, 255);
     border-left: 4px solid rgb(0, 4, 255);
     border-bottom: 4px solid rgb(251, 0, 0);
     border-right: 4px solid rgb(251, 0, 0); 
     width: 420px;
     height: 650px;
  }
   .card-header h4{
     font-size: 32px;
     margin-top: 10px;
  }
   .card-body h1{
     font-size: 27px;
  }
   .card a{
     padding: 10px;
     font-size: 26px;
     border: 1px solid rgb(255, 255, 255);
     color: rgb(255, 255, 255);
  }
   .card-body a:hover{
     transition: .5s;
     border: 1px solid rgb(255, 255, 255);
     color: rgb(255, 255, 255);
  }
   /*COMPRA*/
   main .container-compra{
     font-size: 30px;
  }
   main .container-compra{
     font-size: 30px;
  }
   main .container-compra img{
     width: 140px;
     height: 140px;
  }
   main .container-compra .total input{
     color: black;
  } 
   #procesar-compra a{
     font-size: 27px;
     padding: 5px;
  }
   .form-control{
     font-size: 30px;
  }
  .row a{
     font-size: 28px;
     padding: 5px;
  }
   .col-xs-12 input{
     font-size: 28px;
     padding: 5px;
  }
}



